
@{ ViewData["Title"] = "ViewSchool";
    Layout = "~/Views/Shared/_SchoolLayout.cshtml"; }

< <div class="header">
    <h1 class="header-title">
        School Portal
    </h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Home/Index">Main</a></li>
            <li class="breadcrumb-item active" aria-current="page">School Fee</li>
        </ol>
    </nav>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title"></h5>
            </div>


        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title"> Migrate Session</h5>

            </div>

            <div class="card-body">



                @using (Html.BeginForm("MigrateToSession", "SRSession", FormMethod.Post))
                {
    <div class="col-md-1">
        <div class="form-group">
            <input type="submit" class="btn btn-lg btn-primary" value="Migreate To New Session" />
        </div>

    </div>}

            </div>

        </div>
    </div>
</div>
