@model NavyAccountWeb.ViewModels.RelationshipVM
@{
    ViewBag.Title = "CreateRelationship";
}

<<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <div class="section-heading">
            <h1 class="page-title">Relationship</h1>
        </div>
        <div class="card">

            <div class="row" style="padding-top: 200px">

                <div style="padding-left: 300px">
                    <label>Create Relationship</label>
                    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
                </div>
                <div>

                </div>
            </div>
        </div>
    </div>
</div>
