
    <div class="header">
        <h1 class="header-title">
            Personels
        </h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Home/Index">Main</a></li>
                <li class="breadcrumb-item"><a href="/Person/CreatePerson">Create Personnel</a></li>
                <li class="breadcrumb-item active" aria-current="page">Personnel List</li>
            </ol>
        </nav>
    </div>
   
                
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Active Personnel</h5>
                </div>
                        <list-person-component></list-person-component>
                </div>
        </div>
    </div>
       

