
@{
    ViewData["Title"] = "Index3";
    Layout = "~/Views/Shared/_SchoolLayout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Payment default report</h5>

            </div>

            <payment-defaulter-report></payment-defaulter-report>
        </div>
    </div>
</div>

