
@{
    ViewData["Title"] = "ViewDiscrepancyReport";
    Layout = "~/Views/Shared/_SchoolLayout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Discrepancy Report</h5>

            </div>

            <payment-proposal-discrepancy></payment-proposal-discrepancy>
        </div>
    </div>
</div>

