
@{
    ViewData["Title"] = "Index";
}

<div class="header">
    <h1 class="header-title">
        Payperrank
    </h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="Home/Index">Main</a></li>
            <li class="breadcrumb-item active" aria-current="page">Navip</li>
        </ol>
    </nav>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Navip</h5>
            </div>


            <div class="card-body">
                @*<create-navip></create-navip>*@
                <calculate-navip></calculate-navip>
            </div>
</div>
</div>
</div>
