@model IEnumerable<NavyAccountCore.Models.InvestmentView>
@{
    ViewData["Title"] = "outstanding";
}

<div class="header">
    <h1 class="header-title">
        OutStanding Investment
    </h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="Home/Index">Main</a></li>
            <li class="breadcrumb-item active" aria-current="page">OutStanding Investment</li>
        </ol>
    </nav>
</div>
<div class="row">

    <div class="col-12">
        <div class="card">
            <div class="card-header">
               
            </div>

            <view-investment-capital></view-investment-capital>
        </div>
    </div>
