@model NavyAccountWeb.ViewModels.TrialBalanceViewModel

@{
    ViewData["Title"] = "Index";
}

<div class="header">
    <h1 class="header-title">
        Report
    </h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="Home/Index">Main</a></li>
            <li class="breadcrumb-item active" aria-current="page">Trial Balance Report</li>
        </ol>
    </nav>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Trial balance</h5>
            </div>
            <account-balance-component></account-balance-component>

        </div>
    </div>
</div>



