
@{ ViewData["Title"] = "InitiateClaim";
    Layout = "~/Views/Shared/_SchoolLayout.cshtml"; }



<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Student Cliam</h5>

            </div>
            <claim-reimbursment></claim-reimbursment>
        </div>
    </div>
</div>
