
@{
    ViewData["Title"] = "ClaimPayment";
}

<h1>ClaimPayment</h1>


@{ ViewData["Title"] = "ViewClaim";
    Layout = "~/Views/Shared/_SchoolLayout.cshtml"; }

<div class="header">
    <h1 class="header-title">
    </h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Home/Index">Main</a></li>
            <li class="breadcrumb-item active" aria-current="page">Claim</li>
        </ol>
    </nav>
</div>


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Claim List</h5>

            </div>

            <claim-payment-report></claim-payment-report>
        </div>
    </div>
</div>
