@using Microsoft.AspNetCore.Http;
@{ ViewData["Title"] = "Index"; }

<div class="header">
    <h1 class="header-title">
        Claim Processing
    </h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Home/Index">Main</a></li>
            <li class="breadcrumb-item active" aria-current="page">Claim Applicaton</li>
        </ol>
    </nav>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">


            @TempData["message"]
            <div class="card-header">
                <h5 class="card-title">Claim Report</h5>
            </div>

            @using (Html.BeginForm("createLoan", "LoanRegister", FormMethod.Post))
            {

            @Html.AntiForgeryToken()
                <view-individual-claim></view-individual-claim>
                
            }

        </div>
    </div>

</div>

