
@{ ViewData["Title"] = "ViewSchool"; }

< <div class="header">
    <h1 class="header-title">
        Fund Type
    </h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Home/Index">Main</a></li>
            <li class="breadcrumb-item active" aria-current="page">School Record</li>
        </ol>
    </nav>
</div>
  <div class="row">
      <div class="col-12">
          <div class="card">
              <div class="card-header">
                  <h5 class="card-title">Add New School</h5>
              </div>

              <create-update-school-record></create-update-school-record>
          </div>
      </div>
  </div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">School List</h5>
                @using (Html.BeginForm("printfund2", "FundType", FormMethod.Get))
                {
    <div class="col-4">
        <div class="form-group">
            <input type="submit" name="Submit" id="Submit" class="btn btn-primary" value="Print" />
        </div>

    </div>}
            </div>

            <view-school-record></view-school-record>
        </div>
    </div>
</div>
