@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "loanApplication";
}
<div class="header">
    <h1 class="header-title">
        Loan Enquiry
    </h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Home/Index">Main</a></li>
            <li class="breadcrumb-item active" aria-current="page">Loan Applicaton</li>
        </ol>
    </nav>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Loan Enquiry</h5>
            </div>

            @using (Html.BeginForm("createLoan", "LoanRegister", FormMethod.Post))
            {

                @Html.AntiForgeryToken()

                <loan-enquiry-component fundtypeid="@Context.Session.GetInt32("fundtypeid")"></loan-enquiry-component>
            }

        </div>
    </div>

</div>
