@model NavyAccountWeb.ViewModels.BeneficiaryVM
@{
    ViewBag.Title = "Create";
}
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <div class="section-heading">
                <h1 class="page-title">Beneficiary</h1>
            </div>
            
        </div>
    </div>