

@{
    ViewBag.Title = "ViewFinancial";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="header">
    <h1 class="header-title">
        Claim Processing
    </h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Home/Index">Main</a></li>
            <li class="breadcrumb-item active" aria-current="page">Claim Processing</li>
        </ol>
    </nav>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Claim Application</h5>
            </div>
            @using (Html.BeginForm("CreateFinancial", "BalanceSheet", FormMethod.Post))
            {

                @Html.AntiForgeryToken()

                <create-claim-types></create-claim-types>
            }

        </div>
    </div>

</div>




